{% extends "cnmb/base.html" %}
{% load cnmb_extras %}

{% block title %}Administration - {% endblock %}

{% block body %}

{% if not user|is_trainer %}
<div style="float:right;width:500px;">{{ contentA|safe }}</div>
{% endif %}

<h1>CNMB Administration</h1>

{% if user|is_trainer %}
  {% if saved %} {# <p class="msg">The data has been saved.</p> #} {% endif %}
  <form method="post" action="">
  {% csrf_token %}
  <table class="form">
  <tr><th>CNMB Definition:</th><td>{{ admin.definition }}</td></tr>
  <tr><th>Client:</th><td><a href="{% url 'cnmb:client' admin.client.id %}">{{ admin.client }}</a></td></tr>
  <tr><th>Trainer:</th><td><a href="{% url 'cnmb:trainer' admin.trainer.username %}">{{ admin.trainer|user_nice }}</a></td></tr>
  <tr><th>Date Started:</th><td>{{ admin.date_given }}</td></tr>
  {{ form }}
  <tr class="form_footer"><td colspan="2"><input type="submit" value="Save"></td></tr>
  </table>
  </form>
{% else %}
  <table class="form">
  <tr><th>Client:</th><td>{{ admin.client }}</td></tr>
  <tr><th>Trainer:</th><td>{{ admin.trainer|user_nice }}</td></tr>
  <tr><th>Date Started:</th><td>{{ admin.date_given }}</td></tr>
  </table>
  &nbsp;
{% endif %}


<h2>Sections</h2>
<table class="grid r">
<tr class="headfoot"><th>#</th><th class="l">Name</th><th>Score</th><th>Max</th></tr>
{% for section in sections %}
<tr>
    <td>{{ section.number }}</td>
    <td class="l">
      {% if user|is_trainer %}
        <a href="{% url 'cnmb:section' admin.id section.number %}">{{ section.title }}</a>
      {% else %}
        {{ section.title }}
      {% endif %}
    </td>
    <td>{{ section.total_score }}</td>
    <td>{{ section.max_score }}</td>
</tr>
{% endfor %}
<tr class="headfoot">
    <td></td>
    <th>TOTAL</th>
    <th>{{ total_score }}</th>
    <th>{{ max_score }}</th>
</tr>
</table>
<div id="chart1"></div>

{% if not user|is_trainer %}
<div>{{ contentB|safe }}</div>
{% endif %}

{% endblock %}

{% block head %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load('visualization', '1', {packages:['corechart']});
google.setOnLoadCallback(drawCharts);
function drawCharts() {
var data = google.visualization.arrayToDataTable([
	['Section', 'Score', {role:'tooltip'}, {role:'annotation'}],
{% for section in sections %}
	['{{ section.number }}', {{ section.total_score }} / {{ section.max_score }}, Math.round(100*{{ section.total_score }}/{{ section.max_score }})+'%', {{section.total_score}} ],
{% endfor %}
	['TOTAL', {{ total_score }} / {{ max_score }}, Math.round(100*{{ total_score }}/{{ max_score }})+'%', {{total_score}} ],
]);
var options = {
	width: 600,
	height: 350,
	chartArea: {left:50, width:'100%'},
	legend: {position:'none'},
	colors: ['#1e3e88'],
	vAxis: {minValue:0, maxValue:1, format:'percent'},
	//tooltip: {trigger:'none'},
};
var chart = new google.visualization.ColumnChart(document.getElementById('chart1'));
chart.draw(data, options);
}
</script>
{% endblock %}
