{% extends "cnmb/base.html" %}

{% block title %}Contact - {% endblock %}

{% block body %}

<h1>Contact Us</h1>
<p>Email us at <a href="mailto:admin@neuro-fit.com">admin@neuro-fit.com</a>:</p>
{% if success %}
<div class="msg">Your message was sent successfully.</div>
{% endif %}
<form method="post" action="">
{{ form.non_field_errors }}
{% csrf_token %}
<table class="form">
{{ form }}
<tr class="form_footer"><td colspan="2"><input type="submit" value="Send Message"></td></tr>
</table>
</form>

{% endblock %}
